### Node template
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Integrity file
.yarn-integrity
yarn.lock
package-lock.json

### JetBrains template
.idea/

### Others
coverage
dist/